<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Create Employee
      </h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input class="form-control" [(ngModel)]="fullName" name="fn" id="fullName" type="text"/>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" [(ngModel)]="email" name="email" id="email" type="text"/>
      </div>

      <div class="form-group">
        <label>Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input name="gender" [(ngModel)]="gender" type="radio" value="male"/>
            Male
          </label>


          <label class="radio-inline">
            <input name="gender" [(ngModel)]="gender" type="radio" value="female"/>
            Female
          </label>
        </div>
      </div>

      <div class="form-group">
        <label>Gender</label>
        <div class="form-control">
          <label class="checkbox-inline">
            <input name="isActive" [(ngModel)]="isActive" type="checkbox"/>
            Is Active
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber" id="phoneNumber" type="text"/>
      </div>

      <div class="form-group">
        <label for="department">
          Department
        </label>
        <select id="department" name="department" [(ngModel)]="department" class="form-control">
          <option value="1">Help Desk</option>
          <option value="2">HR</option>
          <option value="3">IT</option>
          <option value="4">Payroll</option>
        </select>
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>

</form>
{{employeeForm.value | json}}
